.stage1-wrapper {
  width: 100vw;
  height: 100vh;
  background: url("https://media.istockphoto.com/photos/neon-retro-arcade-machines-in-a-games-room-picture-id1300036832?b=1&k=20&m=1300036832&s=170667a&w=0&h=PYg6SXPWz3muujTmPeGBfRgNVVsYFD0UXkWrDpAMOls=") #000;
  background-size: cover;
  overflow: hidden;
  text-align: center;
  padding-top: 50px;
}
.stage1-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  margin: 0 auto;
  max-width: 900px;

  aside {
    width: 100%;
    max-width: 200px;
    display: block;
    padding: 0 20px;
  }
}

.map-wrapper {
  display: grid;
  grid-template-rows: repeat(
    11,
    calc(25vw / 11)
  );
  grid-template-columns: repeat(
    11, calc(25vw / 11)
  );
  grid-gap: 1px;
  border: 1px solid #333;
  max-width: 25vw + 11px;
  background-color: #111;
  margin-right: 20px;
}

.cell {
  width: auto;
  background: rgba(170, 216, 255, 0.8);
  border: 1.1vw solid;
  border-bottom-color: rgba(170, 216, 255, 0.1);
  border-right-color: rgba(170, 216, 255, 1);
  border-top-color: rgba(170, 216, 255, 1);
  border-left-color: rgba(170, 216, 255, 0.3);
}
.obstacle {
  width: auto;
  background: rgba(36, 95, 223, 0.8);
  border: 1.1vw solid;
  border-bottom-color: rgba(36, 95, 223, 0.1);
  border-right-color: rgba(36, 95, 223, 1);
  border-top-color: rgba(36, 95, 223, 1);
  border-left-color: rgba(36, 95, 223, 0.3);
}

.start-area {
  width: auto;
  background: rgba(223, 173, 36, 0.8);
  border: 1.1vw solid;
  border-bottom-color: rgba(223, 173, 36, 0.1);
  border-right-color: rgba(223, 173, 36, 1);
  border-top-color: rgba(223, 173, 36, 1);
  border-left-color: rgba(223, 173, 36, 0.3);
}

.character {
  width: auto;
  background: rgba(227, 78, 78, 0.8);
  border: 1.1vw solid;
  border-bottom-color: rgba(227, 78, 78, 0.1);
  border-right-color: rgba(227, 78, 78, 1);
  border-top-color: rgba(227, 78, 78, 1);
  border-left-color: rgba(227, 78, 78, 0.3);
}
.color {
  background: rgba(132, 61, 198);
  background: rgba(80, 227, 230);
  background: rgba(36, 95, 223);
  background: rgba(223, 173, 36);
  background: rgba(48, 211, 56);
  background: rgba(227, 78, 78);
}

#canvas{
  background-color: rgb(240, 13, 13);
}